.dropzone{
    /* size */
    max-width:60%;
    height:25em;

    /* center horizontally */
    margin:0 auto;

    /* center vertically */
    transform:translateY(40%);

    /* Display contents centered */
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    /* border */
    border:dashed 3px #199cd8;
    border-radius:20px;
}

.dropzone:hover{
    cursor:pointer;

}

.dropzone--img{
    width:100px;
    height:auto;
    margin: 1em;
}

.dropzone button{
    display:none;
}




