@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,
*:before,
*:after{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* general templates for elements */
body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

a,
a:visited{
    text-decoration:none;
    color:#000;
}

a:hover{
    color:#43464B;
}

li{
    list-style:none;
}

button{
    border:none;
}


/* start nav bar */
nav{
    /* display all nav elements next to each other */
    display:flex;
    /* space out elements */
    justify-content:space-between;
    /* align elements centered vertically */
    align-items:center;

    width:100%;
    padding:10px;
    font-size:19px;
    font-weight:600;
    box-shadow: 4px 3px 8px 1px #969696;
    background-color:#fff;
    z-index:1;
    position:fixed;
}

.logo img{
    width:225px;
    height:auto;
    max-width:100%;
    margin:0 0 -8px 60px;
}

nav ul{
    display:flex;
}

nav li{
    margin:0 60px 0 0;
    border:0;
}

/* Sidebar pullout arrow */
.sidebar{
    padding:60px 0 0 0;
    position:fixed;
    left:0;
    width:250px;
    height:100%;
    background:#eeeedd;
    left:-250px;
}

.sidebar-items{
    display:block;
    height:100%;
    width:100%;
    line-height:80px;
    font-size:20py;
    padding: 0 0 0 20px;
    box-sizing:border-box;
}

.sidebar ul li:hover a{
    transition:0.4s;
    padding-left:10px;
}

.sidebar button{
    cursor:pointer;
}

.sidebar img{
    width:30px;
    height:auto;
}

.sidebar label{
    padding:40px 0;
    position:absolute;
    top:50%;
    border-radius:0 10px 10px 0;
    background-color:#0055aa;
    left:250px;
}

sidebar img:hover{
    cursor:pointer;
}

.sidebar input{
    display:none;
}

#box:checked + label{

}

/* footer */
footer{
    background-color:#eeeedd;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top: auto;
    color:#1F2022;
    z-index:1;
    font-size:18px;
}

footer a{
    color:#626569 !important;
}

footer a:hover{
    color:#1F2022 !important;
}

.explore{
    margin:25px 0 25px 15%;
}

.help{
    margin:25px 15% 25px 0;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width:15px;
}

::-webkit-scrollbar-track{
    background:#eeeedd;
}

::-webkit-scrollbar-thumb{
    background:rgba(0, 85, 170, 1);
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover{
    background:rgba(0, 85, 170, 0.8);
}