<!--- Base template which other html files will inherit from.-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
  <!-- uniform navigation bar  -->
    <nav>
      <div class="logo">
        <a href="/">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Quicksave.io">
        </a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    </nav>
  <!-- slide-out side nav -->
    <div class="Sidebar">
      <div id="mySidenav" class="Sidenav">
        <ul>
          <div class="MyFilesDropdown">
            <li> <a href="#" class="DropBtn" onclick="openMyFilesDropdown">My Files</a></li>
            <div id="myFilesDropdownContent" class="DropdownContent">
              <ul>
                <li><a href="#">Personal</a></li>
                <li><a href="#">Family</a></li>
                <li><a href="#">Photo</a></li>
              </ul>
            </div>
          </div> 
          <li><a href="#">Devices</a></li>
          <li><a href="#">Recent</a></li>
          <li><a href="#">Favorites</a></li>
          <div class="storage">
            <p>Available storage:</p>
            <hr>
            <p>240 GB of 500 GB used</p>
          </div>
          <li><a href="#">Settings</a></li>
        </ul>
        <button id="closeBtn" class="CloseBtn" onclick="closeNav()">
          <img src="{{ url_for('static', filename='img/right-arrow_white.png') }}" alt="<">
        </button>
      </div>
      <button class="OpenBtn" onclick="openNav()">
        <img src="{{ url_for('static', filename='img/right-arrow_white.png') }}" alt=">">
      </button>
    </div>
    <!--
    <aside class="sidebar">
      <input type="checkbox" id="box">
         <label for="box">
           <img src="{{ url_for('static', filename='img/right-arrow_white.png') }}" alt=">">
         </label>
      <div class="sidebar-items">
        <ul>
          <li><a href="#">My Files</a></li>
          <li><a href="#">Linked Devices</a></li>
          <li><a href="#">Recent</a></li>
          <li><a href="#">Favorites</a></li>
        </ul>
        <div class="storage">
          <p>Available storage:</p>
        </div>
      </div>
    </aside>
    -->

    <!-- main section of webpage -->
    <main>
      {% block main %}{% endblock main %}
    </main>

    <!-- footer -->
    <footer>
      <div class="explore">
        Explore:
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="copyright">
        <!--TODO: make year dynamic-->
        <p>&copy 2022 Quicksave.io</p>
      </div>
      <div class="help">
        Need help?
        <ul>
          <li><a href="/">Contact</a></li>
          <li><a href="/">Q&A</a></li>
        </ul>
      </div>
    </footer>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>